<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<servlet><servlet-name>test</servlet-name><servlet-class>simpleweb.TestServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>test</servlet-name><url-pattern>/test</url-pattern></servlet-mapping>
	<servlet><servlet-name>testGit</servlet-name><servlet-class>simpleweb.TestGitServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>testGit</servlet-name><url-pattern>/testGit</url-pattern></servlet-mapping>
	<servlet><servlet-name>testDemo</servlet-name><servlet-class>simpleweb.TestDemoServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>testDemo</servlet-name><url-pattern>/testDemo</url-pattern></servlet-mapping>
</web-app>